.img_logo{
    
    height: 100px;
    width: 100px;
    margin-left: 40%;
    margin-top: -4%;

}

  .ngx-dropdown-container[_ngcontent-cxd-c21] .ngx-dropdown-button[_ngcontent-cxd-c21] {
          min-height: 40px !important;
  }
  .ngx-dropdown-container[_ngcontent-cxd-c21] button[_ngcontent-cxd-c21] {
    border: 2px solid #ccc !important;
  }

  .col-3 {
    margin-top: 25px;
  }
  .inputLenth{
    width: 70px;
  }


