<!-- <nb-card> -->
    <div class="row">
        <div class="col-6">
          <nb-card>
            <nb-card-header>
              Taxation Requested: RUT -30%
            </nb-card-header>
            <nb-card-body>
            <div class="row">
              <div style="border: 1px solid" class="col-5">
                <p>Job Date Time:</p>
              </div>
              <div style="border: 1px solid" class="col-4">
              
              </div>
              <div style="border: 1px solid" class="col-3">
               
              </div>
            </div>
            <div class="row">
              <div style="border: 1px solid" class="col-12">
                <p> Job Location:</p>
              </div>
            </div>
            <div class="row">
              <div style="border: 1px solid" class="col-6">
                <p>Category:</p>
              </div>
              <div style="border: 1px solid" class="col-6">
                Car Service
              </div>
            </div>
            <div class="row">
              <div style="border: 1px solid" class="col-6">
                <p>SubCategory:</p>
              </div>
              <div style="border: 1px solid" class="col-6">
               
              </div>
            </div>
            <div class="row">
              <div style="border: 1px solid" class="col-6">
                <p> Job Description:</p>
              </div>
              <div style="border: 1px solid" class="col-6">
                
              </div>
            </div>
            </nb-card-body>
          </nb-card>
        </div>
    
        <div class="col-6">
          <nb-card>
            <nb-card-header>
              <i class="fa fa-user"></i>
              Worker
            </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="6">
                  <div>
                    <nb-list>
                      <nb-list-item>
                        <h6>Employee ID:</h6>
                        <h6>Name:</h6>
                        <h6>Employment Type:</h6>
                        <h6>Work Profile:</h6>
                        <h6>Phone:</h6>
                        <h6>Email:</h6>
                      </nb-list-item>
                    </nb-list>
                  </div>
                </div>
                <div style="margin-left: 40%;" class="6">
                  <img style="width: 130px;height: 130px;" src="../../../../assets/images/no-image-300x300.png" />
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    <!-- </nb-card> -->
    
    <div class="row">
      <div class="col-6">
        <nb-card>
          <nb-card-header>
            <i class="fa fa-user"></i>&nbsp;
            Company Customer
          </nb-card-header>
          <nb-list>
            <nb-list-item>
              <h6>Name:</h6>
              <h6>SSN:</h6>
              <h6>Phone:</h6>
              <h6>Email:</h6>
            </nb-list-item>
          </nb-list>
        </nb-card>
      </div>
    </div>
    
    
    <div class="row">
        <div class="col-6">
          <nb-card>
            <nb-card-header>
              <i class="fa fa-user"></i>&nbsp;
              Company ID:
            </nb-card-header>
            <nb-list>
              <nb-list-item>
                <h6>Name:</h6>
                <h6>Organization ID:</h6>
                <h6>Agreement Type:</h6>
                <h6>Service Type:</h6>
                <h6>Phone:</h6>
                <h6>Email:</h6>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </div>
      </div>
    
      <nb-card>
          <nb-card-header>
            <i class="fa fa-user"></i>&nbsp;
            More Information
          </nb-card-header>
          <nb-card-body>
              <div class="row">
                <div style="border: 1px solid" class="col-8">
                  <p>Living Type:</p>
                </div>
                <div style="border: 1px solid" class="col-4">
                  <!-- <p>  HOUSER </p> -->
                </div>
               </div>
              <div class="row">
                <div style="border: 1px solid" class="col-8">
                  <p> Ownership Type:</p>
                </div>
                <div style="border: 1px solid" class="col-4">
                  <!-- <p> Company</p> -->
                  </div>
              </div>
              <div class="row">
                <div style="border: 1px solid" class="col-8">
                  <p>Have Materials:</p>
                </div>
                <div style="border: 1px solid" class="col-4">
                 <!-- <p> No</p> -->
                </div>
              </div>
              <div class="row">
                <div style="border: 1px solid" class="col-8">
                  <p>Let Worker To Buy Materials:</p>
                </div>
                <div style="border: 1px solid" class="col-4">
                  <!-- <p> No </p> -->
                </div>
              </div>
            </nb-card-body>

            <nb-card>
              <nb-card-header>
                  <i class="fa fa-user"></i>&nbsp;
                    Owner Details
              </nb-card-header>
              <nb-card-body>
                  <div class="row">
                    <div style="border: 1px solid" class="col-8">
                      <p>Owner's Name:</p>
                    </div>
                    <div style="border: 1px solid" class="col-4">
                      <p></p>
                    </div>
                   </div>
                  <div class="row">
                    <div style="border: 1px solid" class="col-8">
                      <p> Personal Number:</p>
                    </div>
                    <div style="border: 1px solid" class="col-4">
                      <p></p>
                      </div>
                  </div>
                  <div class="row">
                    <div style="border: 1px solid" class="col-8">
                      <p>Address:</p>
                    </div>
                    <div style="border: 1px solid" class="col-4">
                     <p></p>
                    </div>
                  </div>
                </nb-card-body>
            </nb-card>
    
              <nb-card-footer>
                <p>Posted Images:</p>  
                <img style="width: 130px;height: 130px;" src="../../../../assets/images/no-image-300x300.png" />&nbsp;&nbsp;
                <img style="width: 130px;height: 130px;" src="../../../../assets/images/no-image-300x300.png" />
              </nb-card-footer>
      </nb-card>